version: '{build}'
image: Visual Studio 2013

platform:
  - Win32
  - x64

cache:
  - C:\tmp\VST3 SDK

install:
  - ps: |
      if (-Not (Test-Path "C:\tmp\VST3 SDK")) {
        Invoke-WebRequest "https://www.steinberg.net/sdk_downloads/vstsdk366_27_06_2016_build_61.zip" -OutFile "vstsdk.zip"
        Expand-Archive "vstsdk.zip" "C:\tmp"
      }
  - git apply -p2 --directory ..\..\tmp --stat Data\vstgui.patch

build_script:
  - mkdir build
  - cd build
  - cmake -DCMAKE_GENERATOR_PLATFORM=%PLATFORM% -DVSTSDK3_DIR="C:/tmp/VST3 SDK" ..
  - msbuild /v:minimal /nologo WaveSabre.sln
  - msbuild /v:minimal /nologo /property:Configuration="MinSizeRel" WaveSabre.sln
  - cd ..
